<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIREBPF - Login</title>
    <link rel="stylesheet" href="/static/styles_login.css">
</head>
<body>
    <header>
        <h1 class="title">FIREBPF 🐝🔒</h1>
    </header>

    <main class="login-main">
        <div class="login-container">
            <h2>Inicia Sesión</h2>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Entrar</button>
            </form>
        </div>
    </main>
</body>
</html>
